/* ----------------contact Us ------------------ */
.delete-contactUs {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(161, 27, 4);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-contactUs:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(255, 30, 30) 0%,
    rgb(255, 174, 0) 100%
  );
}

.delete-contactUs:active {
  transform: translate(0em, 0.2em);
}

.contactUs-table th,
td {
  padding: 15px;
  text-align: right;
  border: 1px solid black;
}

.contactUs-table {
  margin: auto;
}

/* -------------------------------------------------nav bar---------------------------- */

/* Add a black background color to the top navigation */
.admin-navBar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.admin-navBar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.admin-navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.admin-navBar a.active {
  background-color: #04aa6d;
  color: white;
}
.badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  top: 0;

  font-size: medium;
}
.adminLogout {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
