.Main {
  min-height: 92vh;
  background: #ffffe8;
  padding-top: 5%;
  background: linear-gradient(to top, #98b9b4, #e4e4c0);
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background: rgb(40, 39, 36); */
}

body {
  overflow-x: hidden;
  word-wrap: break-word;
  margin: 0;
}

/* ---------------------------------------------------personalSharing------------------------------- */
.personalSharing-container {
  display: grid;
  justify-items: center;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.personalSharing-container .card {
  width: 25vw;
  min-width: 400px;
  height: 70vh;
  background-color: white;
  border-radius: 30px;
}

.personalSharing-container .card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.personalSharing-container .card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

/* ---------------------------------------------------lecture------------------------------- */
.lecture-container {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-bottom: 0
}

.lecture-container .card {
  width: 25vw;
  height: 70vh;
  background-color: white;
  border-radius: 30px;
  min-width: 20em;
}

.lecture-container .card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.lecture-container .card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}


.lecture-container .order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/* ---------------------------navbar---------------------- */
.Navbar {
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background:linear-gradient(to right,#98b9b4,#e4e4c0 ,#ECB390);
}
.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #000000;
}
.Navbar > .nav-items > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}
.Navbar > .nav-items > a:hover {
  opacity: 1;
}
.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}
.Navbar > .nav-items > a:hover::before {
  width: 100%;
}
.Navbar > .nav-toggle {
  display: none;
}

@media (max-width: 650px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #98b9b4, #e4e4c0, #ecb390);
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .Navbar > .nav-items > a::before {
    background: transparent;
  }
  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .lecture-container {
    grid-template-columns: 1fr;
  }
  .personalSharing-container {
    grid-template-columns: 1fr;
  }
}
