.header {
  height: 13vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  padding-top: 5%;
  padding-bottom: 5%;
  background: #ffffe8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(40, 39, 36);
}

body{
  overflow-x: hidden;
  word-wrap: break-word;
  margin: 0;
}


