.Main {
  min-height: 92vh;
  background: #ffffe8;
  padding-top: 5%;
  background: linear-gradient(to top, #98b9b4, #e4e4c0);
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(40, 39, 36);
}

body {
  overflow-x: hidden;
  word-wrap: break-word;
  margin: 0;
}

/* ----------------------------------------personalSharing------------------------------------- */

.sharing-container {
  display: grid;
  justify-items: center;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.sharing-container .card {
  width: 40vw;
  min-width: 20em;
  height: 80vh;
  background-color: white;
  border-radius: 30px;
}

.sharing-container .card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.sharing-container .card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

/* ---------------------------------------lecture---------------------------------------------- */
.lecture-container {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-bottom: 0;
}

.lecture-container .card {
  width: 25vw;
  min-height: 70vh;
  min-width: 20em;
  background-color: white;
  border-radius: 30px;
  /* position: relative; */
}

.lecture-container .card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.lecture-container .card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

.lecture-container .order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: rgb(165, 153, 153);
}

/* -----------------------------------------navbar----------------------------------------------- */
.Navbar {
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background: linear-gradient(to right, #98b9b4, #e4e4c0, #ecb390);
}
.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #000000;
}
.Navbar > .nav-items > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}
.Navbar > .nav-items > a:hover {
  opacity: 1;
}
.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}
.Navbar > .nav-items > a:hover::before {
  width: 100%;
}
.Navbar > .nav-toggle {
  display: none;
}

/* --------------------------------------------modal---------------------------------------------- */

/* The open Button */
.modal-open {
  position: fixed;
  left: 2vw;
  bottom: 6vh;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: rgb(191, 181, 181);
}

.modal-open:hover {
  background: rgb(166, 158, 158);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  animation: modal-content-slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes modal-content-slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* The close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------form------------------------------------------------ */

.sharing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 6% 4% 0 4%;
}

.sharing-form textarea {
  height: 20vh;
}

.sharing-form input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send {
  background-color: #04aa6d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.send:hover {
  background-color: #45a049;
}

/* --------------------------------after sending the sharing--------------------------------------- */
.sharing-sended{
  display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

/* ----------------------------------------phone---------------------------------------------------- */
@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #98b9b4, #e4e4c0, #ecb390);
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .Navbar > .nav-items > a::before {
    background: transparent;
  }
  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .lecture-container {
    grid-template-columns: 1fr;
  }
  .sharing-container {
    grid-template-columns: 1fr;
  }

  .sharing-form input,
  select,
  textarea,
  button {
    width: 100%;
    margin-top: 0;
  }
}
