body {
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Noto Sans Hebrew";
}

a {
  cursor: pointer;
  text-decoration: none;
}

.Main {
  min-height: 90vh;
  background: linear-gradient(to top, #98b9b4, #e4e4c0);
  padding-top: 7em;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #b0b0a7, #9ebeba);
}

/* ----------------------------------------personalSharing------------------------------------- */

.sharing-container {
  display: grid;
  justify-items: center;
  gap: 3em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-bottom: 3%;
}

.sharing-card {
  width: 33vw;
  min-width: 20em;
  height: 80vh;
  background-color: white;
  border-radius: 30px;
}

.sharing-card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.sharing-card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

/* ---------------------------------------lecture---------------------------------------------- */

.lecture-container {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 4em 4em 4em;
}

.lecture-card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
}

.lecture-card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.lecture-card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

.lecture-card-content::-webkit-scrollbar {
  display: none;
}

.lecture-order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: rgb(165, 153, 153);
}

/* -----------------------------------------navbar----------------------------------------------- */
.Navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background: linear-gradient(to right, #98b9b4, #e4e4c0, #ecb390);
  position: fixed;
  z-index: 1;
}
.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #000000;
}
.Navbar > .nav-items > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}
.Navbar > .nav-items > a:hover {
  opacity: 1;
}
.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}
.Navbar > .nav-items > a:hover::before {
  width: 100%;
}
.Navbar > .nav-toggle {
  display: none;
}

/* --------------------------------------------modal---------------------------------------------- */

/* the open button */
.modal-open {
  position: fixed;
  left: 1vw;
  bottom: 6vh;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(242, 243, 243);
  background-size: 100% auto;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.modal-open:hover {
  box-shadow: 2px 5px 0 0 black;
  transform: translateY(-4px) translateX(-2px);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}
.modal-open:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/* modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  animation: modal-content-slide-in-top 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes modal-content-slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* the close button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------ sharing form------------------------------------------------ */

.sharing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 6% 4% 0 4%;
}

.sharing-form textarea {
  height: 20vh;
}

.sharing-form input,
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.send:hover {
  background-color: #45a049;
}

/* -----after sending the sharing----- */
.sharing-sended {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ----------------------------------------phone---------------------------------------------------- */
@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #98b9b4, #e4e4c0, #ecb390);
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .Navbar > .nav-items > a::before {
    background: transparent;
  }
  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .lecture-container {
    grid-template-columns: 1fr;
  }
  .sharing-container {
    grid-template-columns: 1fr;
  }

  .sharing-form input,
  select,
  textarea,
  button {
    width: 100%;
    margin-top: 0;
  }

  .books-category {
    font-size: 1em;
  }
}

/* ----------------------------------------contactUs------------------------- */
.contact-box .error {
  color: rgba(219, 12, 12, 0.879);
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 37% 5vh 37%;
}

.contact-box h2 {
  position: relative;
  padding: 0 0 10px;
}

.contact-box h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  border-radius: 2px;
  background-color: #556e6a;
}

.contact-box .field {
  min-width: 28vw;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  padding: 15px 5px 15px 0;
  font-size: 1em;
  margin-top: 5px;
  transition: 0.3s;
}

.contact-box .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-box .field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

.contact-box .send {
  padding: 0.5em 1em;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1em;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid;
}

.contact-box .send:hover {
  background-color: #27ae60;
  border-radius: 25px;
}

.contact-box #form {
  box-shadow: 0px 8px 20px 3px;
  border-radius: 4px;
  margin-bottom: 14vh;
}

.input-wrapper {
  min-height: 85px;
  position: relative;
}

/* --------------------------------------------created by------------------------------------------- */

.created-by {
  display: flex;
  align-items: center;
  gap: 0.33em;
}

.credit-text {
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 20px;
  color: #f9dd95;
}

/* -----------------------------------------------reading----------------------------------------- */

.closet-container {
  background: #9b7d50;
  padding-bottom: 1em;
}
.shelf-container {
  width: 100%;
  height: 200px;
  perspective: 500px;
  overflow: hidden;
  background-color: #956e39;
  position: absolute;
}

.books-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  padding-bottom: 0.8rem;
  box-shadow: inset 0 10px 10px 0 #653b17;
  position: relative;
}

.carousel-container {
  width: 50%;
}

.cuboid {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
}

.cuboid__face {
  width: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 0 1px 3px 0 black, 0 1px 2px -1px black;
}

.cuboid__face--back {
  --extra-height: 3rem;
  transform: translateY(calc(var(--extra-height) * -1))
    translateZ(calc(200px * -1)) rotateY(180deg);
  height: calc(200px + var(--extra-height));
  background: #a17941;
}

.cuboid__face--bottom {
  transform: translateZ(calc(200px * -0.5)) translateY(calc(200px * 0.5))
    rotateX(-90deg);
  height: 200px;
  background: #795832;
}

.floor-thickness {
  height: 1rem;
  background: #9b7d50;
}

.book {
  width: 120px;
  height: 180px;
  background: white;
  justify-content: center;
  box-shadow: 0 1px 3px 0 black, 0 1px 2px -1px black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  transform-origin: 60% 20%;
  transition: transform 1s, filter 0.5s ease-out;
  position: relative;
}

.book:hover {
  transform: scale(2);
  z-index: 1;
  position: relative;
}

.delete-book {
  position: absolute;
  top: 2vh;
  cursor: pointer;
  color: black;

  font-size: 2em;
}
.delete-book:hover {
  color: red;
}

.books-category {
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  right: 2%;
  text-decoration: underline;
  width: 10vw;
}

/* ----------------------------------------------bio-------------------------------------------- */

.bio {
  display: flex;
  justify-content: space-between;
}

.bio-container {
  padding-right: 3vw;
}

.bio-text {
  padding-top: 2vh;
  max-width: 80vw;
  font-size: large;
}

.bio-title {
  padding-top: 8vh;
}

.bio-img {
  height: 65vh;
  object-fit: cover;
  margin: -15vh 0px 0px 3vw;
  float: left;
}

/* --------------------------------------------article----------------------------------------- */

.article-container {
  display: grid;
  justify-items: center;
  gap: 3em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-bottom: 3%;
}

.article-card {
  width: 33vw;
  min-width: 20em;
  height: 80vh;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.article-card-img {
  height: 30%;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.article-card-content {
  overflow-y: auto;
  height: 30vh;
  padding: 0px 10% 0 10%;
}

.article-card-content::-webkit-scrollbar {
  display: none;
}

.article-delete {
  position: absolute;
  left: 0;
}

.article-change-title {
  position: absolute;
  left: 50%;
}
.article-change-content {
  position: absolute;
}

/* -----------------------------------------------edit modal------------------------------ */

.edit-modal {
  position: fixed;
  z-index: 1;
  padding-top: 20vh;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.edit-modal-content {
  display: flex;
  justify-content: center;
}
